@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap");
.popupkit-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.popupkit {
  min-width: 225px;
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: "Muli";
  padding: 10px 70px 10px 15px;
  border-radius: 15px;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.popupkit-simple-light {
  background: white;
  border: solid 2px #aaa;
}

.popupkit-simple-light .popupkit-title {
  -webkit-box-shadow: 0px 2px 15px #cccccc;
          box-shadow: 0px 2px 15px #cccccc;
}

.popupkit-simple-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(#33334e), to(#1c1c2e));
  background: linear-gradient(to bottom, #33334e, #1c1c2e);
  color: white;
  border: solid 2px #33334e;
}

.popupkit-simple-dark .popupkit-title {
  -webkit-box-shadow: 0px 2px 15px #12121d;
          box-shadow: 0px 2px 15px #12121d;
}

.popupkit-simple-dark .popupkit-message {
  color: #ccc;
}

.popupkit-simple-dark .popupkit-button {
  color: #aaa;
}

.popupkit-simple-dark .popupkit-button:hover {
  color: white;
}

.popupkit-blackandwhite {
  border: solid 2px black;
}

.popupkit-blackandwhite .popupkit-title {
  background: black;
}

.popupkit-blackandwhite .popupkit-button {
  color: #666;
}

.popupkit-blackandwhite .popupkit-button:hover {
  color: black;
}

.popupkit-blueandwhite {
  border: solid 2px #3498db;
}

.popupkit-blueandwhite .popupkit-title {
  background: #3498db;
}

.popupkit-greenandwhite {
  border: solid 2px #2ecc71;
}

.popupkit-greenandwhite .popupkit-title {
  background: #2ecc71;
}

.popupkit-redandwhite {
  border: solid 2px #e74c3c;
}

.popupkit-redandwhite .popupkit-title {
  background: #e74c3c;
}

.popupkit-yellowandwhite {
  border: solid 2px #f1c40f;
}

.popupkit-yellowandwhite .popupkit-title {
  background: #f1c40f;
}

.popupkit-blackandwhite, .popupkit-blueandwhite, .popupkit-redandwhite, .popupkit-yellowandwhite, .popupkit-greenandwhite {
  background: white;
}

.popupkit-blackandwhite .popupkit-title, .popupkit-blueandwhite .popupkit-title, .popupkit-redandwhite .popupkit-title, .popupkit-yellowandwhite .popupkit-title, .popupkit-greenandwhite .popupkit-title {
  color: white;
}

.popupkit-blackandwhite .popupkit-message, .popupkit-blueandwhite .popupkit-message, .popupkit-redandwhite .popupkit-message, .popupkit-yellowandwhite .popupkit-message, .popupkit-greenandwhite .popupkit-message {
  color: #666;
}

.popupkit-simple-light .popupkit-button, .popupkit-blueandwhite .popupkit-button, .popupkit-redandwhite .popupkit-button, .popupkit-yellowandwhite .popupkit-button, .popupkit-greenandwhite .popupkit-button {
  color: #888;
}

.popupkit-simple-light .popupkit-button:hover, .popupkit-blueandwhite .popupkit-button:hover, .popupkit-redandwhite .popupkit-button:hover, .popupkit-yellowandwhite .popupkit-button:hover, .popupkit-greenandwhite .popupkit-button:hover {
  color: #444;
}

.popupkit-button {
  position: absolute;
  background: none;
  top: 5px;
  right: 10px;
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
}

.popupkit-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  margin-right: 62px;
  overflow-x: hidden;
  font-size: 1.3em;
  font-weight: 700;
  padding: 10px 20px;
  white-space: nowrap;
  border-bottom-right-radius: 20px;
}

.popupkit-title::-webkit-scrollbar {
  display: none;
}

.popupkit-message {
  position: relative;
  top: 46px;
  left: 0;
  right: 0;
  font-size: 1.1em;
  font-weight: 300;
  color: #666;
  max-height: 150px;
  min-height: 30px;
  min-width: 175px;
  margin: 10px -55px 45px 0px;
  padding: 0px 10px 0px 0px;
  overflow-y: scroll;
}

.popupkit-message::-webkit-scrollbar {
  width: 8px;
  background: none;
}

.popupkit-message::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.popupkit-message::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
/*# sourceMappingURL=all.css.map */